@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Noticia+Text:400,700);

body{
	font-family: sans-serif;
	font-size: 10pt;
	color: #4d4d4d;
	background-color: #eae5e5;
}

body a{
	color:#4d4d4d;
	text-decoration: none; 
}
body a:hover{
	text-decoration: underline;
}

header{
	font-family: 'Noticia Text', serif;
	height: 90px;
	margin: 0 auto;
	width: 960px;
}
header h1{
	font-family: 'Noticia Text', serif;
	font-weight: bold;
	font-size: 30pt;
	margin: 0px auto 0px auto;
	padding: 0px;
}
header h2{
	font-family: 'Noticia Text', serif;
	font-size: 15pt;
	margin: 0px;
	padding: 0px;
}

header hgroup{
	margin-left: 50px;	
}

nav#menu{
	position:relative;
	display: block;
	top: -50px;
	left: 400px;
}
nav#menu li{
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	margin: 5px;
}


/*CORPO*/
section#corpo{
	height: 500px;
	width: 960px;
	margin: 80px auto;
}
section#corpo h1{
	font-family: 'Noticia Text', serif;
	font-weight: bold;
	font-size: 60pt;
	margin: 0px;
	padding: 0px;
}
section#corpo h2{
	font-family: 'Noticia Text', serif;
	font-size: 25pt;
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0px;
}
#div-foto-corpo{
	display: inline-block;
	vertical-align: top;	
	width: 45%;
	padding: 10px;
}
img#foto-principal{
	border: none;
	width: 350px;
	border-radius: 50%;
	margin: 20px;
}
#div-sub-menu{
	display: inline-block;
	width: 50%;
	padding: 10px;
}
nav#sub-menu{
	font-family: 'Noticia Text', serif;
	
	color: white;
	position:relative;
	display: block;

}

nav#sub-menu li {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 50%;
	width: 110px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	vertical-align: middle;
	margin: 0 40px 0px -30px;
}

li#botao1{
	background-color: #e73556;
	transition: background-color 0.5s;
}
li#botao2{
	background-color: #61cfd3;
	transition: background-color 0.5s;
}
li#botao3{
	background-color: #d1c926;
	transition: background-color 0.5s;
}
li#botao1:hover{
	background-color: #87253d;
}
li#botao2:hover{
	background-color: #458387;
}
li#botao3:hover{
	background-color: #877f21;
}


footer{
	height: 100px;
	background-color: #0574ff;
	color: white;
}
footer a{
	text-decoration: none;
}

footer section {
	width: 960px;
	margin: 0 auto;
}

footer div{
	margin: auto;
	display: inline-block;
	width: 45%;
	vertical-align: middle;
	text-align: center;
	line-height: 100px;
	
}

footer img{
	margin: auto;
}