@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Bitter:700,400);

body{
	font-family: sans-serif;
	font-size: 10pt;
	color: #4d4d4d;
	background-color: #eae5e5;
}

header{
	font-family: 'Bitter', serif;
	height: 90px;
	margin: auto;
	width: 800px;
}
header h1{
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 30pt;
	margin: 0px;
	padding: 0px;
}
header h2{
	font-family: 'Bitter', serif;
	font-size: 15pt;
	margin: 0px;
	padding: 0px;
}

nav#menu{
	position:relative;
	display: block;
	top: -50px;
	left: 300px
}
nav#menu li{
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	margin: 5px;
}

section#corpo{
	height: 500px;
	width: 800px;
	margin: 80px auto 0px auto;
}
section#corpo h1{
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-size: 50pt;
	margin: 0px;
	padding: 0px;
}
section#corpo h2{
	font-family: 'Bitter', serif;
	font-size: 25pt;
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0px;
}
img#foto-principal{
	display: inline-block;
	float: left;
	border: none;
	border-radius: 50%;
	width: 300px;
	margin-right: 50px;
}
div#sub-menu{
	display: block;
	position:relative;
	float: left;
	width: 450px;
}
nav#sub-menu{

	font-family: 'Bitter', serif;
	color: white;
	position:relative;
	display: block;
}

nav#sub-menu li {
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	vertical-align: middle;
	margin: 0 40px 0px -30px;
}

li#botao1{
	background-color: #e73556;
	transition: background-color 0.5s;
}
li#botao2{
	background-color: #61cfd3;
	transition: background-color 0.5s;
}
li#botao3{
	background-color: #d1c926;
	transition: background-color 0.5s;
}
li#botao1:hover{
	background-color: #87253d;
}
li#botao2:hover{
	background-color: #458387;
}
li#botao3:hover{
	background-color: #877f21;
}



footer{
	height: 100px;
	background-color: #0574ff;

}

footer section {
	width: 800px;
	margin: auto;
}